@model PetMe.ViewModels.PetListViewModel
@{
    ViewBag.Title = "PetList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PetList</h2>

<a href="@Url.Action("PetForm", "Pets")" class="btn btn-primary">Novo Pet</a>

@if (!Model.Pets.Any())
{
    <h1>Não existem pets cadastrados ainda</h1>
}
else
{
    //criar uma viewmodel para os forms PetFormViewModel
    <table>
        <thead>
            <tr>
                <th>Foto</th>
                <th>Nome</th>
                <th>Informações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pet in Model.Pets)
            {
                <tr>
                    <td></td>
                    <td>@Html.ActionLink(pet.Name, "PetForm", new { id = pet.Id})</td>
                    <td>@pet.Description</td>
                </tr>
            }
        </tbody>
    </table>
}