@model PetMe.ViewModels.UserFormViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<a href="@Url.Action("UserForm", "Panel")">Minhas informações</a>
<a href="@Url.Action("PetList", "Pets")">Meus pets</a>